<h1>add course</h1>

<form action="/add" method="POST">
    <div class="input-field ">
        <input id="title" name='title' type="text" class="validate" required>
        <label for="title">Name Course</label>
        <span class="helper-text" data-error="name" data-success="right"></span>
    </div>
    <div class="input-field ">
        <input id="price" name="price"  type="number" class="validate" required min="1">
        <label for="price">Price</label>
        <span class="helper-text" data-error="price" data-success="right"></span>
    </div>
    <div class="input-field ">
        <input id="img" name="img" type="text" class="validate" required>
        <label for="img">URL your img</label>
        <span class="helper-text" data-error="URL" data-success="right"></span>
    </div>
    <button class="btn btn-primary">Add+</button>
</form>